datasets/**
.idea/**
__pycache__/**
figs/**

checkpoints/*/*
!checkpoints/*/.empty

old_checkpoints/*/*/

logs/lid_features/*/*
!logs/lid_features/*/.empty

logs/logits/*/*
!logs/logits/*/.empty

logs/pre_lid_features/*/*
!logs/pre_lid_features/*/.empty

logs/LID/per_class/*/*
!logs/LID/per_class/*/.empty

logs/LID/class_wise/*/*
!logs/LID/class_wise/*/.empty

logs/ftr_mov

*.csv
checkpoints*
