datasets/**
.idea/**
__pycache__/**
figs/**

checkpoints/*/*
!checkpoints/*/.empty

old_checkpoints/*/*/

logs/lid_features/*/*
!logs/lid_features/*/.empty

logs/logits/*/*
!logs/logits/*/.empty

logs/pre_lid_features/*/*
!logs/pre_lid_features/*/.empty

logs/LID/per_class/*/*
!logs/LID_per_class/*/.empty

*.csv
checkpoints_paper/*